body {
    box-sizing: border-box;
    background-attachment:fixed;
    height:100%;
    background: #041c32;
}

.container-fluid {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #FFF;
}

/* ================= Header ============ */
header {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    margin: 0;
    padding: 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', Courier, monospace;
}

.red {
    color: #E94560;
    font-weight: bold;
}

nav {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 6% 0 6%;
}

.logo {
    color: white;
    font-size: 22px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #E94560;
    font-size: 20px;
    transition: .3s;
}

.navline {
    width: 80%;
    height: 7px;
    border: 0 none;
    margin: 200px auto 90px auto;
}

button {
    border: none;
    background: #E94560;
    padding: 10px 26px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}

button:hover {
    transform: scale(1.15);
    cursor: pointer;
}

.toggle-btn {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

@media only screen and (max-width: 992px) {
    .links {
        display: none;
    }

    .button {
        display: none;
    }

    .toggle-btn {
        display: block;
    }
}

.dropdown_menu ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    list-style-type: none;
}

.dropdown_menu {
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0px;
    background: #fc4e6b25;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.dropdown_menu ul li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .toggle-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.dropdown_menu.open {
    height: 280px;
}

@media only screen and (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

.start {
    padding: 20%;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.startName {
    color: #E94560;
    font-size: 30px;
    font-weight: bold;
}

.cursive {
    font-family: cursive;
    font-style: italic;
}

.spacing {
    letter-spacing: 4px;
    font-family: 'Trebuchet MS';
}

::-webkit-scrollbar{
    width: 0px;
}

#particles-js {
    /* stay in a constant spot on the page, regardless of scroll */
    position: fixed;
    /* fill the entire page */
    width: 100%;
    height: 100%;
    /* remove the space along the edges */ 
    margin: 0;
    padding: 0;
    /* position it to start at the top of the page */
    top: 0;
    /* put it behind other content */
    z-index: -1;
}
