body {
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.container-fluid {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #FFF;
}

/* ============= Animation background ========= */
.background {
    background: linear-gradient(132deg, #19087e, #591BC5, #161722);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0px;
}

.cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #D7D4E4;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
}

.cube:nth-child(2n) {
    border-color: #FFF;
}

.cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
}

.cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
}

.cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
}

.cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
}

.cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
}

/* ================= Header ============ */
header {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Animate Background*/
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }

    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 10% 0 10%;
}

.logo {
    color: white;
    font-size: 24px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ea1538;
    transition: .3s;
}

button {
    border: none;
    background: #ea1538;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}

button:hover {
    transform: scale(1.15);
    cursor: pointer;
}

.text {
    font-size: 70px;
    padding: 150px 0;
    text-align: center;
    color: rgb(92, 0, 0);
    font-weight: bold;
    text-shadow: 0 0 3px #FF0000, 0 0 5px;
}

.toggle-btn {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

@media only screen and (max-width: 992px) {
    .links {
        display: none;
    }

    .button {
        display: none;
    }

    .toggle-btn {
        display: block;
    }
}

.dropdown_menu ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    list-style-type: none;
}

.dropdown_menu {
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.dropdown_menu ul li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .toggle-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.dropdown_menu.open {
    height: 260px;
}

@media only screen and (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}
